
      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0px;
      }

    .custom_class .mat-select-arrow {
      color: black;
  }

      ::ng-deep .mat-input-wrapper{
        border: 2px solid black;
     }
    
  ::ng-deep .arrow_class .mat-select-arrow {
    color: white;
  }

  .mat-select {
    width:75%;
  }

  .custom_col{
    border: 1px solid rgba(0,0,0,.26);
  } 
  
  @media only screen and (max-width: 767px) {
      .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
          padding: 8px 0 0 0 !important;
          font-size: 11px !important;
          font-weight: 600;
      }
  }
  
 
  mat-button-toggle-group {
    border:0px !important;
    box-shadow: none;
  }

  mat-button-toggle {
      border: 2px  #813d7e solid !important;
      width:47px !important;
      height:47px !important;
      margin-left:10px !important;
      border-radius: 6px;
      
  }
 
  .label_class{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #242424;
  }

.incharge_class{
font-size: 14px;
line-height: 19px;
color: rgba(0, 0, 0, 0.89);
font-weight: normal;
}
.font_family_class{
  font-family: 'Open sans',sans-serif;
  font-style: normal;
 
}
.button_size{
  border-radius: 4px;
}
.label_class2{
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #242424;
}
.label_class2b{
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #242424;
  }
.label_class2_details{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #813D7E;
  }
.label_class3{
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #242424;
}
.label_class3a{
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #242424;
  }
.label_class4{
  font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #000000;
}
.label_class5{
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
}
.label_class5a{
  font-style: bold;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #242424;
}
.option_text{
font-weight: 300;
font-size: 12px;
line-height: 16px;
color: #242424;
}
.rate_label{
  color: #242424;
}
.ion-card{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-bottom:40px;
 }

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: #FFFFFF;
  border: 1px solid #8D8D8D;
  box-sizing: border-box;
  border-radius: 4px;
  color: #8D8D8D;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #813D7E!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #813D7E;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle  {
  background-color: #813D7E;
 
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:  #813D7E !important; /*outer ring color change*/
  } 
  .back_button{
    width: 65px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #813D7E;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Open sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #813D7E;
   }
   .custom_row{
    background-color:rgba(252, 228, 251, 1);
    border-radius:12px ;
  }
  
    .name_class{

      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #242424;
        }