
    ::ng-deep .mat-input-wrapper{
      border: 2px solid black;
    }
      
    .mat-cell{
      font-weight: 500;
      font-size:15px
    }
  
    .mat-header-cell{
      font-weight: 500;
      font-size:15px
    }
    .custom_background_color1{
      background-color:#EEEEEE;
      border-radius: 0px 0px 0px 100px;
    }
    .custom_background_color2{
      --background: #F5F5F5;
      --border-radius: 20px;
      color:black;
    }
    .custom_background_color3{
      --background: #EEEEEE;
      opacity: 0.38;
    }
    .custom_border_radius{
      --border-radius:12px;
    }
   
  
    .mat-table {
      border-collapse: separate!important;
      border-spacing:0 10px!important;
      
    }
    .mat-row,
    .mat-header-row {
      display: table-row;
     background-color: #F4F4F4;
     border-radius: 12px;
     height:60px;
     
    }
  
    td.mat-cell:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    
    td.mat-cell:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  
   
  .searchbar-search-icon.sc-ion-searchbar-md{
   
    left: auto !important;
  }
  
  .sc-ion-searchbar-md-h {
    padding-bottom:0px;
    padding-top:0px;
  }

  .dashboard_action{
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  }
  
  .cell_color{
  color: #000000;
  opacity: 0.89;
  }
  .cell_normal{
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.89;
  }
 
 
  
  
  
  
  