@media only screen and (min-width:1500px) {
    .dashboard_button_size{
      width: 200px;
      height: 40px;
    }
    .right_align{
      text-align:right;
    }
  }
  
  
        ::ng-deep .arrow_class .mat-select-arrow {
          color: white;
        }
  
        ion-col.center-any-object {
        display: flex;
        justify-content: center;
        }
  
        ::ng-deep .mat-input-wrapper{
          border: 2px solid black;
       }
     
  
   
    .mat-select {
      width:75%;
    }
   
    .mat-cell{
      font-weight: 500;
      font-size:15px
    }
  
    .mat-header-cell{
      font-weight: 500;
      font-size:15px
    }
   
    .custom_background_color3{
      --background: #EEEEEE;
      opacity: 0.38;
    }
    .custom_border_radius{
      --border-radius:12px;
    }
   
    .mat-table {
      border-collapse: separate!important;
      border-spacing:0 10px!important;
      
    }

    .mat-row,
    .mat-header-row {
    display: table-row;
     background-color: #F4F4F4;
     border-radius: 12px;
     height:60px;
     
    }
    table{
      border-collapse: separate!important;
      border-spacing:0 10px!important;
    }
    tr{
      display: table-row;
      background-color: #F4F4F4;
      border-radius: 12px;
      height:60px;
    }
    td.cell:first-child{ border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    }
    td.cell:last-child{ border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      }
  
    td.mat-cell:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    
    td.mat-cell:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  
    .dashboard_action{
      font-family: 'Open Sans',sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      }
  .cell_normal{
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.89;
  }
  .header-align-right{
    display: flex;
    justify-content: flex-end;
  }
  
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
    .unread_class{
      background-color: #B26EAF;
    }