

<ion-app >

 
  <ion-content>

    <ion-grid  style="height: 100%;padding-top:0px;padding-right: 0px;" class="container3">

      <ion-row class="ion-padding-left" style="padding-top:0px;padding-bottom:0px;">
        <ion-col size-xl="2" size-lg="2" size-md="2" size-xs="2">
          <ion-header-bar  align-title="center">
            <h1 class="title ion-padding-top" style="margin-bottom: 0px;">
              <img class="title-image" src="assets/icon/logo.svg" style="vertical-align:top;" height="80%" />
              <span style="vertical-align:top;margin-left:10px;" class="social_logo_text">KSHEMA</span>
           </h1>
          </ion-header-bar>
        </ion-col>
        <ion-col size-xl="10" size-lg="10" size-md="10" size-xs="10" class="custom_background_color1">
          <ion-row style="padding-top:0px;padding-bottom:0px;" justify-content-center align-items-center>
            <ion-col size-xl="7" size-lg="7" size-md="7" size-xs="7"></ion-col>
           <ion-col size-xl="1" size-lg="1" size-md="1" size-xs="1" style="text-align: center;"><span class="material-icons pointer-class" style="font-size:30px;vertical-align: middle;" (click)="redirectToNotes()">
            speaker_notes </span></ion-col>
            <ion-col size-xl="1" size-lg="1" size-md="1" size-xs="1" style="text-align: center;">
              <span class="material-icons pointer-class"  style="font-size:30px;vertical-align: middle;" >
                cached
                </span>
            </ion-col>
            <ion-col size-xl="1" size-lg="1" size-md="1" size-xs="1"  style="text-align: center;">
              <mat-icon class="pointer-class" (click)="home()" style="font-size:30px;">home</mat-icon>
            </ion-col>
            <ion-col size-xl="2" size-lg="2" size-md="2" size-xs="2" style="padding:0px;"><ion-button class="button_text_normal custom_background_color2 custom_border_radius" [matMenuTriggerFor]="menu"><ion-icon name="person"></ion-icon><span style="text-transform:none!important;">{{user_name}}</span>
              <mat-icon class="arrow_down">keyboard_arrow_down</mat-icon></ion-button>
              <mat-menu class="mt-2" #menu="matMenu">
                <a mat-menu-item>
                  <mat-icon matPrefix>settings</mat-icon>Settings </a>

                  <a  mat-menu-item (click)="logout()">
                      <mat-icon matPrefix>logout</mat-icon>Logout </a>
                  
              </mat-menu>
            </ion-col>
          </ion-row>
      </ion-col>
      </ion-row>
      
        <ion-row class="ion-padding-top">
    
      <ion-col size-xl="1" size-lg="1" size-md="12" size-xs="12"></ion-col>
      <ion-col size-xl="10" size-lg="10" size-md="12" size-xs="12"  align-text-center style="height:100%;" class="equal_height">
        <ion-row class="ion-padding-top ion-padding-bottom custom_row">
          <ion-col size-xl="4" size-lg="4" size-md="4" size-xs="4" ion-text-left>
            <ion-row ion-text-left>
            <ion-title  ion-text-left class="font_family_class name_class">{{name}}({{age}}/{{gender}})</ion-title>
          </ion-row>
          <ion-row ion-text-left>
            <ion-title size="small" class="custom_text_class_header1 font_family_class pat_header1"><mat-icon style="color:green;">call</mat-icon>{{mobile}}</ion-title>
          </ion-row>
          <ion-row ion-text-left class="ion-padding-top">
            <ion-title size="small" class="custom_text_class_header1 font_family_class pat_header2"><mat-icon style="color:red;font-size:15px;">location_on</mat-icon>{{address}}</ion-title>
          </ion-row>
          </ion-col>
        
          <ion-col size-xl="4" size-lg="4" size-md="4" size-xs="4">
            <ion-row>
              <ion-title class="font_family_class pat_header1">KSHEMA ID</ion-title>
            </ion-row>
            <ion-row>
              <ion-title  class="custom_text_class_header1 font_family_class pat_header3">{{kshema_id}}</ion-title>
            </ion-row>
        
            <ion-row ion-text-left class="ion-padding-top">
              <ion-title  ion-text-left class="font_family_class pat_header2">Care Giver</ion-title>
            </ion-row>
            <ion-row ion-text-left>
              <ion-title size="small" class="custom_text_class_header1 font_family_class pat_header3">{{care_giver}}</ion-title>
            </ion-row>
            <ion-row ion-text-left>
              <ion-title size="small" class="custom_text_class_header1 font_family_class pat_header3"><mat-icon style="color:green;font-size:15px;">call</mat-icon>{{care_giver_mobile}}</ion-title>
            </ion-row>
          </ion-col>
        
        
          <ion-col size-xl="4" size-lg="4" size-md="4" size-xs="4" ion-text-left>
            <ion-row ion-text-left>
              <ion-title  ion-text-left class="font_family_class pat_header1">ASHA/ANM</ion-title>
            </ion-row>
            <ion-row ion-text-left>
              <ion-title class="font_family_class pat_header3">{{asha}}</ion-title>
            </ion-row>
            <ion-row ion-text-left class="ion-padding-top">
              <ion-title class="font_family_class pat_header1">Taluka level PSW In charge</ion-title>
            </ion-row>
            <ion-row ion-text-left>
              <ion-title class="font_family_class pat_header3">Test psw</ion-title>
            </ion-row>
            <ion-row>
              <ion-title class="ion-padding-top">
               
                <a  class="pointer-class" (click)="history()"><span class="text_color1 font_family_class pat_header4">History</span></a>
           
             
            </ion-title>
          </ion-row>
          </ion-col>
        
        </ion-row>
       
          
         </ion-col>
         <ion-col size-xl="1" size-lg="1" size-md="12" size-xs="12"></ion-col>
        </ion-row>

        <ion-row class="ion-padding-top">
          <ion-col size-xl="1" size-lg="1" size-md="12" size-xs="12"></ion-col>
          <ion-col size-xl="10" size-lg="10" size-md="12" size-xs="12">
          <ion-title class="cell3">Notes</ion-title>
          </ion-col>
          <ion-col size-xl="1" size-lg="1" size-md="12" size-xs="12"></ion-col>
        </ion-row>
        
        <ion-row class="ion-padding-top">
          <ion-col size-xl="1" size-lg="1" size-md="12" size-xs="12"></ion-col>
          <ion-col size-xl="10" size-lg="10" size-md="12" size-xs="12">

            <div style="text-align: center; padding-top:10px;padding-bottom:10px;background-color:#F4F4F4;" [hidden]="!firstNote">
              <mat-form-field style="width:60%;display:inline-block;" appearance="outline" class="white">
                <textarea matInput  placeholder="Enter your message" [(ngModel)]="notes1" maxlength="75" style="height:20px;"></textarea>
              </mat-form-field>
             
             
              <button><span class="material-icons purple pointer-class" style="font-size: 30px;vertical-align: middle;" (click)="writeNotes(1)">play_circle_filled</span></button>
              

            </div>
            
              <div class="mat-elevation-z8" class="ion-text-left notes_box ion-padding-bottom ion-padding-top" [hidden]=!allNotes>
          
                <table mat-table [dataSource]="dataSource_dashboard1" matSort   class="mat-elevation-z0 notes_box1">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sender </th>
                    <td mat-cell *matCellDef="let element" class="cell1" style="width:15%;"> {{element.name}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="notes_message">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
                    <td mat-cell *matCellDef="let element" class="cell2" style="width:55%;">{{element.notes_message}} </td>
                  </ng-container>
              
    
                  <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef>Date </th>
                    <td mat-cell *matCellDef="let element" class="cell2" style="width:15%;"> {{element.created_at}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="createdAt2">
                    <th mat-header-cell *matHeaderCellDef>Time</th>
                    <td mat-cell *matCellDef="let element" class="cell2" style="width:15%;">{{element.createdAt2}}</td>
                  </ng-container>
                
                  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns_dashboard"></tr> -->
                  <tr mat-row *matRowDef="let row; columns: displayedColumns_dashboard1;" [routerLink]="'/send-message'" class="pointer-class"></tr>

                  
                </table>
                <div style="text-align: center;">
                <mat-form-field style="width:60%;display:inline-block;" appearance="outline" class="white">
                  <textarea matInput  placeholder="Reply" [(ngModel)]="replyNote" maxlength="75" style="height:20px;"></textarea>
                </mat-form-field>
               
               
                <span class="material-icons purple pointer-class" style="font-size: 30px;vertical-align: middle;" (click)="writeNotes(2)">play_circle_filled</span>
                

              </div>
               
               
            </div>  
           
            
          </ion-col>
         
          <ion-col size-xl="1" size-lg="1" size-md="12" size-xs="12"></ion-col>

        </ion-row>

    </ion-grid>
  </ion-content>

 
</ion-app>