<ion-app >

 
  <ion-content>

    <ion-grid  style="height: 100%;padding-top:0px;padding-right:0px;" class="container2">
      <ion-row class="ion-padding-left" style="padding-top:0px;padding-bottom:0px;">
        <ion-col size-xl="2" size-lg="2" size-md="2" size-xs="2">
          <ion-header-bar  align-title="center">
            <h1 class="title ion-padding-top" style="margin-bottom: 0px;">
              <img class="title-image" src="assets/icon/logo.svg" style="vertical-align:top;" height="80%" />
              <span style="vertical-align:top;margin-left:10px;" class="social_logo_text">KSHEMA</span>
           </h1>
          </ion-header-bar>
        </ion-col>
        <ion-col size-xl="10" size-lg="10" size-md="10" size-xs="10" class="custom_background_color1">
          <ion-row style="padding-top:0px;padding-bottom:0px;" justify-content-center align-items-center>
            <ion-col size-xl="8" size-lg="8" size-md="5" size-xs="5"></ion-col>
            <ion-col size-xl="1" size-lg="1" size-md="1" size-xs="1" style="text-align: center;">
              <span class="material-icons pointer-class"  style="font-size:30px;vertical-align: middle" >
                cached
                </span>
            </ion-col>
           
            <ion-col size-xl="1" size-lg="1" size-md="1" size-xs="1"  style="text-align: center;">
              <mat-icon class="pointer-class" (click)="home()" style="font-size: 30px;">home </mat-icon>
            </ion-col>
            <ion-col size-xl="2" size-lg="2" size-md="2" size-xs="2" style="padding:0px;"><ion-button class="button_text_normal custom_background_color2 custom_border_radius" [matMenuTriggerFor]="menu"><ion-icon name="person"></ion-icon><span style="text-transform:none!important;">{{user_name}}</span>
              <mat-icon class="arrow_down">keyboard_arrow_down</mat-icon></ion-button>
              <mat-menu class="mt-2" #menu="matMenu">
                <a mat-menu-item>
                  <mat-icon matPrefix>settings</mat-icon>Settings </a>
      
                  <a  mat-menu-item (click)="logout()">
                      <mat-icon matPrefix>logout</mat-icon>Logout </a>
                  
              </mat-menu>
            </ion-col>
          </ion-row>
      </ion-col>
      </ion-row>
    
     <ion-row>
      <ion-col size-xl="1" size-lg="1" size-md="12" size-xs="12"></ion-col>
       
      <ion-col size-xl="10" size-lg="10" size-md="12" size-xs="12">
       
       
                
<ion-row class="ion-padding-top ion-padding-bottom custom_row">
  <ion-col size-xl="4" size-lg="4" size-md="4" size-xs="4" ion-text-left>
    <ion-row ion-text-left>
    <ion-title  ion-text-left class="font_family_class name_class">{{name}}({{age}}/{{gender1}})</ion-title>
  </ion-row>
  <ion-row ion-text-left>
    <ion-title size="small" class="custom_text_class_header1 font_family_class label_class1a"><mat-icon style="color:green;">call</mat-icon>{{mobile}}</ion-title>
  </ion-row>
  <ion-row ion-text-left class="ion-padding-top">
    <ion-title size="small" class="custom_text_class_header1 font_family_class label_class2a"><mat-icon style="color:red;font-size:15px;">location_on</mat-icon>{{address}}</ion-title>
  </ion-row>
  </ion-col>

  <ion-col size-xl="4" size-lg="4" size-md="4" size-xs="4">
    <ion-row>
      <ion-title class="font_family_class label_class1">KSHEMA ID</ion-title>
    </ion-row>
    <ion-row>
      <ion-title  class="custom_text_class_header1 font_family_class label_class3a">{{kshema_id}}</ion-title>
    </ion-row>

    <ion-row ion-text-left class="ion-padding-top">
      <ion-title  ion-text-left class="font_family_class label_class2a">Care Giver</ion-title>
    </ion-row>
    <ion-row ion-text-left>
      <ion-title size="small" class="custom_text_class_header1 font_family_class label_class3a">{{care_giver}}</ion-title>
    </ion-row>
    <ion-row ion-text-left>
      <ion-title size="small" class="custom_text_class_header1 font_family_class label_class3a"><mat-icon style="color:green;font-size:15px;">call</mat-icon>{{care_giver_mobile}}</ion-title>
    </ion-row>
  </ion-col>


  <ion-col size-xl="4" size-lg="4" size-md="4" size-xs="4" ion-text-left>
    <ion-row ion-text-left>
      <ion-title  ion-text-left class="font_family_class label_class1a">ASHA/ANM</ion-title>
    </ion-row>
    <ion-row ion-text-left>
      <ion-title class="font_family_class label_class3a">{{asha}}</ion-title>
    </ion-row>
    <ion-row ion-text-left class="ion-padding-top">
      <ion-title class="font_family_class label_class1a">Taluka level PSW In charge</ion-title>
    </ion-row>
    <ion-row ion-text-left>
      <ion-title class="font_family_class label_class3a">{{psw_incharge}}</ion-title>
    </ion-row>
    <ion-row>
      <ion-title class="ion-padding-top">
        <a  class="pointer-class" (click)="redirectTo(2)"><span class="text_color1 font_family_class label_class4a">Edit Patient | </span></a>
        <a  class="pointer-class" (click)="redirectTo(1)"><span class="text_color1 font_family_class label_class4a">History</span></a>
   
     
    </ion-title>
  </ion-row>
  </ion-col>

</ion-row>

<div class="overlay-spinner" *ngIf="showSpinner">
  <div class="center-spinner">
<mat-spinner  style="margin:0 auto;" diameter="70" class="accent"></mat-spinner>
</div>

</div>

       <ion-row class="ion-padding-top">
         <ion-title style="text-align: center;">Edit Patient</ion-title>

         <form [formGroup]="editFormGroup">

          <ion-card class="ion-card">
          <ion-row class="ion-padding-top">
            <ion-col size-xl="6" size-lg="6" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
              <ion-row>
                <ion-title class="label_class font_family_class">Basic Details</ion-title>
              
              </ion-row>

              <ion-row>
              <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
              <mat-form-field style="display: block;" appearance="outline">
                <mat-label>Patient name<span class="red">*</span></mat-label>
                <input matInput nameOnly name="name" formControlName="name"  maxlength="75" class="place_holder_text">
              </mat-form-field>
            </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xl="6" size-lg="6" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
                <mat-form-field  appearance="outline" class="mat_custom_block_class">
                  <mat-label class="place_holder_text">
                    Gender<span class="red">*</span></mat-label>
                  <mat-select name="gender" formControlName="gender">
                  
                    <mat-option *ngFor="let gender1 of gender" [value]="gender1.value">
                      {{gender1.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </ion-col>

            <ion-col size-xl="6" size-lg="6" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
              <mat-form-field appearance="outline" class="mat_custom_block_class">
                <mat-label class="place_holder_text">Date of Birth<span class="red">*</span></mat-label>
                <input matInput name="dob" formControlName="dob" [max]="" (focus)="picker.open()" [matDatepicker]="picker" readonly>
                <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
              <mat-form-field style="display: block;" appearance="outline">
                <mat-label>Patient phone number<span class="red">*</span></mat-label>
                <input matInput  minlength="10" maxlength="10" name="phone" formControlName="phone" class="place_holder_text">
              </mat-form-field>
            </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
              <mat-form-field style="display: block;" appearance="outline">

                <input matInput   name="caregiver_name" formControlName="caregiver_name" placeholder="Care Giver Name" maxlength="75" class="place_holder_text">
              </mat-form-field>
            </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
              <mat-form-field style="display: block;" appearance="outline">
                <input matInput   minlength="10" maxlength="10" name="caregiver_phone" formControlName="caregiver_phone" placeholder="Care Giver Phone Number"  class="place_holder_text">
              </mat-form-field>
            </ion-col>
            </ion-row>
            <ion-row class="ion-padding-top">
              <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12">
                <mat-label class="label_class" style="padding:10px">Active </mat-label><mat-slide-toggle [checked]="active" (change)="onChangeSlideToggle($event)"></mat-slide-toggle>
            </ion-col>

            </ion-row>
             
            </ion-col>

            <ion-col size-xl="6" size-lg="6" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
           
            <ion-row>
              <ion-title class="label_class font_family_class">Address</ion-title>
            
            </ion-row>

              <ion-row>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
                <mat-form-field style="display: block;" appearance="outline">
                  <mat-label>Address Line 1<span class="red">*</span></mat-label>
                  <input matInput   maxlength="75" name="address1" formControlName="address1" class="place_holder_text">
                </mat-form-field>
              </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
                <mat-form-field style="display: block;" appearance="outline">
                  <input matInput  maxlength="75" name="method_reach" formControlName="method_reach" placeholder="Method of Reaching House"  class="place_holder_text">
                </mat-form-field>
              </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
                  <mat-form-field appearance="outline" class="mat_custom_block_class">
                    <mat-label  class="place_holder_text">
                      District<span class="red">*</span></mat-label>
                    <mat-select name="district_selected" formControlName="district_selected">
                      <mat-option *ngFor="let district1 of district" [value]="district1.value">
                        {{district1.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </ion-col>

              <ion-col size-xl="6" size-lg="6" size-md="12" size-xs="12" style="padding-top:0px;padding-bottom:0px;">
                <mat-form-field  appearance="outline" class="mat_custom_block_class">
                  <mat-label  class="place_holder_text">
                    Taluka<span class="red">*</span></mat-label>
                  <mat-select name="taluk_selected" formControlName="taluk_selected">
                    <mat-option *ngFor="let taluk1 of taluk" [value]="taluk1.value">
                      {{taluk1.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" style="padding:0px;padding-bottom:0px;">
                <mat-form-field style="display: block;" appearance="outline">
                  <input matInput maxlength="75" name="contact_patient" formControlName="contact_patient" placeholder="ASHA / ANM who can be a contact Patient"  class="place_holder_text">
                </mat-form-field>
              </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12">
                  <ion-title  class="place_holder_text">Taluka level PSW in-charge: <span class="incharge_class font_family_class">Ankita K M</span></ion-title>
              </ion-col>
              </ion-row>

              
            </ion-col>
          </ion-row>

        
        </ion-card>

          <div class="button_align_class">
              <ion-button class="default_bg" (click)="previous()"><span style="text-transform:none!important;">Cancel</span></ion-button>
              <!-- <ion-button  class="button_text_normal" class="background" (click)="submitStep1(firstFormGroup)" [disabled]="!firstFormGroup.valid">Save & Next</ion-button> -->
              <ion-button class="background" (click)="editPatient()"  [disabled]="!editFormGroup.valid || isDisabled"  type="submit"><span style="text-transform:none!important;">Save</span></ion-button>
          </div>

        </form>
       </ion-row>
       </ion-col>
       <ion-col size-xl="1" size-lg="1" size-md="12" size-xs="12"></ion-col>
     </ion-row>
  
    </ion-grid>
  </ion-content>

 
</ion-app>